* { box-sizing: border-box; }

body {
  background-color: #c0dfd9;
  padding-bottom: 20px;
  margin: 0;
}



#mapid {
  margin: auto;
  height: 500px;
  width: 800px;
  padding: 10px;
  border:2px solid #000;
}

header {
  background-color: #000;
  padding: 1px;

}

h1 {
  font-family: 'Libre Baskerville', Times, serif;
  text-align: center;
  font-size: 200%;
  color: #fff;
  }

p {
  text-align: center;
  font-weight: normal;
  font-family:  Avenir, Verdana, sans-serif;
}


@media (max-width: 960px) {
  #mapid  {
      max-width: 100%;
      margin: 0;
      height: 450px;
      }
}
